.App {
  text-align: center;
}
.todoList {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo {
  font-size: 1.5rem;
  padding-top: 2rem;
  color: #4154b3;
  cursor: pointer;
}
.todo.completed {
  text-decoration: line-through;
  color: grey;
}
